body{
	margin:0;
	min-width:600px;
	font-family: 'Josefin Sans', sans-serif;
	background: url(images/background.png);
	background-repeat: no-repeat;
	min-width: 720px;
}

header{
	padding: 20px 0px 0px 55px;
	height: 120px;
	width: 400px;
	margin: auto;
}

header > .position {
	width: 200px;
	text-align: left;
	float: left;
	color: #989898;
	line-height: 22px;
}

header > h1 {
	width: 300px;
	text-align: left;
	font-size: 40px;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	margin-top: 20px;
	margin-bottom: 5px;
	color: #474747;
	font-weight: lighter;
}

header > .contact {
	width: 200px;
	text-align: left;
	float: left;
	color: #595959;
	line-height: 22px;
}



section {
	overflow: auto;
}

section > h2 {
	font-size: 18px;
	width: 452px;
	color: #ddc544;
	font-weight: lighter;
	padding: 14px;
	text-align: left;
	clear: both;
	margin: auto;
	letter-spacing: 2px;
	padding-left: 123px;
}

section > .resume_info {
	width: 564px;
	margin: auto;
}

section > .resume_info > .date {
	float:left;
	margin-right: 35px;
	text-align: right;
	font-size: 11px;
	width: 76px;
	font-weight: lighter;
	line-height: 13px;
	padding-top: 3px;
	 color: #989898;
}

section > .resume_info > .info {
	float:left;
	width:452px;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	line-height: 20px;
	text-align: justify;
	font-size: 13px;
	margin-bottom: 20px;
}

section > .resume_info > .info > .highlight {
	font-size:15px;
	line-height: 21px;
	font-weight: 400;
}


section > .wrap > .proficiencies {
	width: 272px;
	padding-right: 50px;
	float: left;
	font-size: 14px;
}

.wrap .title {
	padding-bottom: 5px;
}

.wrap li {
	line-height: 20px;
}

section > .wrap > .skills {
	width: 144px;
	float: left;
	font-size: 14px;
}

.skills > .column {
	float: left;
	padding-right: 20px;
}

section > .wrap {
	margin: auto;
	overflow: auto;
	width: 466px;
	padding-left: 123px;
}
ul{
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 25px;
}




footer{
	height:50px;
	margin:auto;
	clear:both;
	width:100%;
	margin-top: 20px;
}



.download{
	float: right;
	margin: 24px 15px;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 15px;
}