

body{
	margin:0;
	min-width:600px;
}

#contact{
	margin:auto;
	text-align:center;
	margin-bottom:50px;
}


h1{
	font-size:50px;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	-webkit-margin-before:0px;
	-webkit-margin-after:0px;
	margin-top:20px;
	margin-bottom:15px;
	color:#689a95;
}




h2{
	font-size:18px;
	width:550px;
	color:#689a95;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	padding:10px;
	text-align:center;
	clear:both;
	margin:auto;
}
	
#resume_info{
	width:515px;
	margin:auto;
}
	
.date{
	float:left;
	margin-right:35px;
	text-align:right;
	font-size:14px;
	width:125px;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 300;
	padding-top: 3px;
	line-height: 18px;
}

.info{
	float:left;
	width:310px;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 400;
	line-height: 20px;
}

.skills{
	float:left;
	margin-right:25px;
	width:330px;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 400;
	line-height: 20px;
}

.skills ul{
	list-style:none;
	-webkit-padding-start: 0px;
}

#set1{
	float:left;
	margin-right: 15px;
	width:150px;
}

#set2{
	padding-top:32px;
}

#icon_set{
	margin-bottom:80px;
	width:210px;
	margin:auto;
	height:40px;
	
}

#icon_set ul{
	list-style:none;
	-webkit-padding-start: 0px;
	-webkit-margin-after:0px;

}

#icon_set ul li {
	list-style:none;
	display:inline-block;
	padding-right:10px;
}



footer{
	background-image:url(images/footer.png);
	height:50px;
	margin:auto;
	clear:both;
	width:100%;
	/*figure out how to get rid of white space around footer*/
}


#banner{
	margin-bottom:10px;
}


.highlight_title{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 10px;
	border-bottom: 2px solid #689a95;
}


.highlight{
	font-size:18px;
	line-height: 21px;
}
