img{
	width: 35px;
}

body{
	margin:0;
	min-width:600px;
}

#contact{
	margin:auto;
	text-align:center;
	margin-bottom:20px;
	padding-top: 20px;
	background-color: #B8CFC7;
	height:165px;
}


h1{
	font-size:40px;
	font-family: 'Josefin Sans', sans-serif;
	-webkit-margin-before:0px;
	-webkit-margin-after:0px;
	margin-top:20px;
	margin-bottom:5px;
	color:white;
}




h2{
	font-size:26px;
	width:550px;
	color:#689a95;
	font-family: 'Bitter', serif;
	font-weight: 700;
	padding:10px;
	text-align:center;
	clear:both;
	margin:auto;
	letter-spacing: 2px;
}

.color{
	font-family: 'Bitter', serif;
	font-weight: 600;
	color: #BCCECC;

}
	
#resume_info{
	width:610px;
	margin:auto;
}

#skills_info{
	margin: auto;
	width: 590px;
}
	
.date{
	float:left;
	margin-right:35px;
	text-align:right;
	font-size:14px;
	width:100px;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 300;
	padding-top: 3px;
	line-height: 18px;
}

.info{
	float:left;
	width:450px;
	font-family: 'Signika', sans-serif;
	font-weight: 300;
	line-height: 20px;
	text-align: justify;
}

.skills{
	float:left;
	margin-right:110px;
	width:330px;
	font-family: 'Signika', sans-serif;
	font-weight: 300;
	line-height: 20px;
}

.skills ul{
	-webkit-padding-start: 0px;
	list-style-type: circle;
}

#set1{
	float:left;
	margin-right: 25px;
	width:150px;
	list-style-type: circle;
}

#set2{
	padding-top:32px;
	list-style-type: circle;
}

#icon_set{
	margin-bottom:80px;
	margin:auto;
	height:40px;
	width: 430px;
}

#icon_set ul{
	list-style:none;
	-webkit-padding-start: 0px;
	-webkit-margin-after:0px;

}

#icon_set ul li {
	list-style:none;
	display:inline-block;
	padding-right:10px;
	float: left;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 100;
	color:white;
	letter-spacing: 1px;
}



footer{
	/*background-image:url(images/footer.png);*/
	height:50px;
	margin:auto;
	clear:both;
	width:100%;
	/*figure out how to get rid of white space around footer*/
}


#banner{
	margin-bottom:10px;
}


.highlight_title{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 10px;
	border-bottom: 2px solid #689a95;
	list-style-type: none;
}


.highlight{
	font-size:18px;
	line-height: 21px;
}


.text{
	padding:5px;
}

.download{
	float: right;
	margin: 30px 15px;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	font-size: 15px;
}